[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "content/posts"]
	path = content/posts
	url = https://github.com/mgrzegorczyk/mgrzegorczyk.github.io-posts.git
